@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

.quiz .quiz-answers-box ul li .quiz-answer .icon-box, .intro-menu .intro-menu__quiz-subjects-box .quiz-subject .icon-box, .quiz-finished .quiz-finished-score-wrapper .quiz-finished-score .selected-topic-and-icon .icon-box, .header .selected-topic-and-icon .icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 56px;
  height: 56px;
  border-radius: 8px;
}
.quiz .quiz-answers-box ul li .quiz-answer .accessibility.icon-box, .intro-menu .intro-menu__quiz-subjects-box .quiz-subject .accessibility.icon-box, .quiz-finished .quiz-finished-score-wrapper .quiz-finished-score .selected-topic-and-icon .accessibility.icon-box, .header .selected-topic-and-icon .accessibility.icon-box {
  background-color: #F6E7FF;
}
.quiz .quiz-answers-box ul li .quiz-answer .html.icon-box, .intro-menu .intro-menu__quiz-subjects-box .quiz-subject .html.icon-box, .quiz-finished .quiz-finished-score-wrapper .quiz-finished-score .selected-topic-and-icon .html.icon-box, .header .selected-topic-and-icon .html.icon-box {
  background-color: #FFF1E9;
}
.quiz .quiz-answers-box ul li .quiz-answer .css.icon-box, .intro-menu .intro-menu__quiz-subjects-box .quiz-subject .css.icon-box, .quiz-finished .quiz-finished-score-wrapper .quiz-finished-score .selected-topic-and-icon .css.icon-box, .header .selected-topic-and-icon .css.icon-box {
  background-color: #E0FDEF;
}
.quiz .quiz-answers-box ul li .quiz-answer .javascript.icon-box, .intro-menu .intro-menu__quiz-subjects-box .quiz-subject .javascript.icon-box, .quiz-finished .quiz-finished-score-wrapper .quiz-finished-score .selected-topic-and-icon .javascript.icon-box, .header .selected-topic-and-icon .javascript.icon-box {
  background-color: #EBF0FF;
}
.quiz .quiz-answers-box ul li .quiz-answer .answer-option.icon-box, .intro-menu .intro-menu__quiz-subjects-box .quiz-subject .answer-option.icon-box, .quiz-finished .quiz-finished-score-wrapper .quiz-finished-score .selected-topic-and-icon .answer-option.icon-box, .header .selected-topic-and-icon .answer-option.icon-box {
  background-color: #F4F6FA;
  color: #626C7F;
  font-size: 1.75rem;
  font-weight: 500;
  transition: all 200ms ease-in-out;
}
@media (max-width: 520px) {
  .quiz .quiz-answers-box ul li .quiz-answer .answer-option.icon-box, .intro-menu .intro-menu__quiz-subjects-box .quiz-subject .answer-option.icon-box, .quiz-finished .quiz-finished-score-wrapper .quiz-finished-score .selected-topic-and-icon .answer-option.icon-box, .header .selected-topic-and-icon .answer-option.icon-box {
    font-size: 1.125rem;
  }
}
@media (max-width: 520px) {
  .quiz .quiz-answers-box ul li .quiz-answer .icon-box, .intro-menu .intro-menu__quiz-subjects-box .quiz-subject .icon-box, .quiz-finished .quiz-finished-score-wrapper .quiz-finished-score .selected-topic-and-icon .icon-box, .header .selected-topic-and-icon .icon-box {
    min-width: 40px;
    height: 40px;
  }
}

.quiz .quiz-answers-box ul, .intro-menu .intro-menu__quiz-subjects-box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (max-width: 520px) {
  .quiz .quiz-answers-box ul, .intro-menu .intro-menu__quiz-subjects-box {
    gap: 0.75rem;
  }
}

.quiz .quiz-answers-box ul li .quiz-answer, .intro-menu .intro-menu__quiz-subjects-box .quiz-subject {
  width: 564px;
  display: flex;
  align-items: center;
  text-align: left;
  gap: 2rem;
  padding: 1.25rem;
  background-color: #FFFFFF;
  border: none;
  border-radius: 24px;
  box-shadow: 0px 16px 40px rgba(143, 160, 193, 0.14);
  cursor: pointer;
}
.quiz .quiz-answers-box ul li .quiz-answer h2, .intro-menu .intro-menu__quiz-subjects-box .quiz-subject h2,
.quiz .quiz-answers-box ul li .quiz-answer .answer-option-text,
.intro-menu .intro-menu__quiz-subjects-box .quiz-subject .answer-option-text {
  font-size: 1.75rem;
  font-weight: 500;
  color: #313E51;
}
@media (max-width: 520px) {
  .quiz .quiz-answers-box ul li .quiz-answer h2, .intro-menu .intro-menu__quiz-subjects-box .quiz-subject h2,
  .quiz .quiz-answers-box ul li .quiz-answer .answer-option-text,
  .intro-menu .intro-menu__quiz-subjects-box .quiz-subject .answer-option-text {
    font-size: 1.125rem;
  }
}
.quiz .quiz-answers-box ul li .selected.quiz-answer, .intro-menu .intro-menu__quiz-subjects-box .selected.quiz-subject {
  outline: 3px solid #A729F5;
}
.quiz .quiz-answers-box ul li .correct.quiz-answer, .intro-menu .intro-menu__quiz-subjects-box .correct.quiz-subject {
  outline: 2px solid #26D782;
}
.quiz .quiz-answers-box ul li .incorrect.quiz-answer, .intro-menu .intro-menu__quiz-subjects-box .incorrect.quiz-subject {
  outline: 2px solid #EE5454;
}
@media (max-width: 1160px) {
  .quiz .quiz-answers-box ul li .quiz-answer, .intro-menu .intro-menu__quiz-subjects-box .quiz-subject {
    min-width: 640px;
  }
}
@media (max-width: 780px) {
  .quiz .quiz-answers-box ul li .quiz-answer, .intro-menu .intro-menu__quiz-subjects-box .quiz-subject {
    min-width: unset;
    width: 100%;
    padding: 0.75rem;
    border-radius: 12px;
  }
}

.quiz .quiz-text-box p, .intro-menu .intro-menu__header-box .pick-a-subject {
  font-size: 1.25rem;
  line-height: 150%;
  color: #626C7F;
  font-style: italic;
}
@media (max-width: 520px) {
  .quiz .quiz-text-box p, .intro-menu .intro-menu__header-box .pick-a-subject {
    font-size: 0.875rem;
  }
}

.quiz-finished .quiz-finished-text-box h1, .quiz-finished .quiz-finished-score-wrapper .quiz-finished-text-box h1, .intro-menu .intro-menu__header-box h1 {
  font-size: 4rem;
  font-weight: 300;
  max-width: 500px;
  margin-bottom: 2.65rem;
  line-height: 72px;
}
.quiz-finished .quiz-finished-text-box h1 span, .quiz-finished .quiz-finished-score-wrapper .quiz-finished-text-box h1 span, .intro-menu .intro-menu__header-box h1 span {
  font-weight: 700;
}
@media (max-width: 1160px) {
  .quiz-finished .quiz-finished-text-box, .quiz-finished .quiz-finished-score-wrapper .quiz-finished-text-box, .intro-menu .intro-menu__header-box {
    margin-bottom: 4rem;
  }
  .quiz-finished .quiz-finished-text-box h1, .quiz-finished .quiz-finished-score-wrapper .quiz-finished-text-box h1, .intro-menu .intro-menu__header-box h1 {
    margin-bottom: 0.85rem;
  }
}
@media (max-width: 520px) {
  .quiz-finished .quiz-finished-text-box h1, .quiz-finished .quiz-finished-score-wrapper .quiz-finished-text-box h1, .intro-menu .intro-menu__header-box h1 {
    font-size: 2.5rem;
    line-height: 100%;
  }
}

.quiz-finished .quiz-finished-score-wrapper .play-again-btn, .quiz .submit-anwser-btn {
  margin-top: 2rem;
  width: 100%;
  background-color: #A729F5;
  color: #FFFFFF;
  border: none;
  border-radius: 24px;
  padding-block: 1.565rem;
  font-size: 1.75rem;
  font-weight: 500;
  transition: background-color 200ms ease-in-out;
  cursor: pointer;
}
.quiz-finished .quiz-finished-score-wrapper .play-again-btn:hover, .quiz .submit-anwser-btn:hover {
  background-color: #d394fa;
}
@media (max-width: 1160px) {
  .quiz-finished .quiz-finished-score-wrapper .play-again-btn, .quiz .submit-anwser-btn {
    width: 640px;
  }
}
@media (max-width: 780px) {
  .quiz-finished .quiz-finished-score-wrapper .play-again-btn, .quiz .submit-anwser-btn {
    width: 100%;
  }
}
@media (max-width: 520px) {
  .quiz-finished .quiz-finished-score-wrapper .play-again-btn, .quiz .submit-anwser-btn {
    font-size: 1.125rem;
    padding-block: 1.125rem;
    border-radius: 12px;
    margin-top: 0.75rem;
  }
}

.quiz-finished .quiz-finished-score-wrapper .quiz-finished-score .selected-topic-and-icon, .header .selected-topic-and-icon {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.quiz-finished .quiz-finished-score-wrapper .quiz-finished-score .selected-topic-and-icon .currentTopic, .header .selected-topic-and-icon .currentTopic {
  font-size: 1.75rem;
  font-weight: 500;
}
@media (max-width: 520px) {
  .quiz-finished .quiz-finished-score-wrapper .quiz-finished-score .selected-topic-and-icon .currentTopic, .header .selected-topic-and-icon .currentTopic {
    font-size: 1.125rem;
  }
}
.quiz-finished .quiz-finished-score-wrapper .quiz-finished-score .selected-topic-and-icon .icon-box, .header .selected-topic-and-icon .icon-box {
  border-radius: 8px;
}
@media (max-width: 520px) {
  .quiz-finished .quiz-finished-score-wrapper .quiz-finished-score .selected-topic-and-icon, .header .selected-topic-and-icon {
    gap: 1rem;
  }
}

body,
html {
  overflow-x: hidden;
}

body {
  background-color: #F4F6FA;
  background-image: url("../assets/images/pattern-background-desktop-light.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Rubik", sans-serif;
  color: #313E51;
}
body.dark {
  background-color: #313E51;
  background-image: url("../assets/images/pattern-background-desktop-dark.svg");
}
body.dark .header span {
  color: #FFFFFF !important;
}
body.dark .intro-menu__header-box h1,
body.dark .intro-menu__header-box span {
  color: #FFFFFF !important;
}
body.dark .intro-menu__header-box .pick-a-subject {
  color: #ABC1E1 !important;
}
body.dark .quiz-subject,
body.dark .quiz-answer {
  background-color: #3B4D66 !important;
  box-shadow: 0px 16px 40px rgba(49, 62, 81, 0.14) !important;
}
body.dark .quiz-subject h2,
body.dark .quiz-subject span,
body.dark .quiz-answer h2,
body.dark .quiz-answer span {
  color: #FFFFFF !important;
}
body.dark .quiz-text-box h1 {
  color: #FFFFFF !important;
}
body.dark .quiz-text-box p {
  color: #ABC1E1 !important;
}
body.dark .progress-bar {
  background-color: #3B4D66 !important;
}
body.dark .quiz-finished-text-box {
  color: #FFFFFF !important;
}
body.dark .quiz-finished-score {
  background-color: #3B4D66 !important;
}
body.dark .quiz-finished-score span {
  color: #FFFFFF !important;
}
body.dark .quiz-finished-score .score-box .your-score {
  color: #FFFFFF !important;
}
body.dark .quiz-finished-score .score-box .total-score {
  color: #ABC1E1 !important;
}
@media (max-width: 780px) {
  body.dark {
    background-image: url("../assets/images/pattern-background-tablet-dark.svg");
  }
}
@media (max-width: 520px) {
  body.dark {
    background-image: url("../assets/images/pattern-background-mobile-dark.svg");
  }
}
@media (max-width: 1250px) {
  body {
    padding-inline: 2.25rem;
  }
}
@media (max-width: 780px) {
  body {
    background-image: url("../assets/images/pattern-background-tablet-light.svg");
  }
}
@media (max-width: 520px) {
  body {
    background-image: url("../assets/images/pattern-background-mobile-light.svg");
  }
}

.main {
  margin: 0 auto;
  padding-block: 5.188rem;
  max-width: 72.5rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1160px) {
  .main {
    padding-top: 3.375rem;
  }
}
@media (max-width: 520px) {
  .main {
    padding-top: 1.625rem;
    padding-bottom: 3rem;
  }
}

.hidden {
  display: none !important;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 6.188rem;
}
.header .theme-toggle {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header .theme-toggle .toggle-btn {
  width: 48px;
  height: 28px;
  border-radius: 100ch;
  padding: 4px;
  background-color: #A729F5;
  border: none;
  cursor: pointer;
}
.header .theme-toggle .toggle-btn .toggle-btn__circle {
  height: 20px;
  width: 20px;
  border-radius: 100ch;
  background-color: #FFFFFF;
  transition: all 300ms ease-in-out;
}
.header .theme-toggle .toggle-btn.dark .toggle-btn__circle {
  transform: translateX(100%);
}
@media (max-width: 1160px) {
  .header {
    margin-bottom: 3.5rem;
  }
}
@media (max-width: 520px) {
  .header {
    margin-bottom: 3.75rem;
  }
}

.intro-menu {
  display: flex;
  justify-content: space-between;
}
.intro-menu.hidden {
  display: none;
}
@media (max-width: 1160px) {
  .intro-menu {
    flex-direction: column;
    justify-content: center;
  }
}

.quiz {
  display: flex;
  justify-content: space-between;
}
.quiz .quiz-text-box {
  max-width: 465px;
}
.quiz .quiz-text-box h1 {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 10.313rem;
}
.quiz .quiz-text-box p {
  margin-bottom: 1.625rem;
}
.quiz .quiz-text-box .progress-bar {
  width: 100%;
  height: 1rem;
  padding: 4px;
  border-radius: 100ch;
  background-color: #FFFFFF;
}
.quiz .quiz-text-box .progress-bar .progress-bar-inner {
  background-color: #A729F5;
  border-radius: 100ch;
  height: 0.5rem;
  transition: all 300ms ease-in-out;
}
@media (max-width: 1160px) {
  .quiz .quiz-text-box {
    max-width: 650px;
  }
  .quiz .quiz-text-box h1 {
    margin-bottom: 2.5rem;
  }
  .quiz .quiz-text-box .progress-bar {
    margin-bottom: 4rem;
  }
}
@media (max-width: 520px) {
  .quiz .quiz-text-box .progress-bar {
    margin-bottom: 2.5rem;
  }
  .quiz .quiz-text-box h1 {
    margin-bottom: 1.25rem;
  }
}
.quiz .quiz-answers-box ul li .quiz-answer:disabled {
  color: #313E51;
  cursor: not-allowed;
}
.quiz .quiz-answers-box ul li .quiz-answer:disabled .icon-box.answer-option {
  pointer-events: none;
}
.quiz .quiz-answers-box ul li .quiz-answer:disabled .icon-box.answer-option:hover {
  background-color: initial;
  color: initial;
  cursor: not-allowed;
}
.quiz .quiz-answers-box ul li .quiz-answer:not(:disabled):hover .icon-box.answer-option {
  background-color: #F6E7FF;
  color: #A729F5;
}
.quiz .quiz-answers-box ul li .quiz-answer.selected .icon-box.answer-option {
  background-color: #A729F5 !important;
  color: #FFFFFF !important;
}
.quiz .quiz-answers-box ul li .quiz-answer.correct .icon-box.answer-option {
  background-color: #26D782 !important;
  color: #FFFFFF !important;
}
.quiz .quiz-answers-box ul li .quiz-answer.incorrect .icon-box.answer-option {
  background-color: #EE5454 !important;
  color: #FFFFFF !important;
}
.quiz .quiz-answers-box ul li img {
  margin-left: auto;
}
.quiz .quiz-answers-box .error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.quiz .quiz-answers-box .error-message span {
  font-size: 1.5rem;
  color: #EE5454;
}
@media (max-width: 520px) {
  .quiz .quiz-answers-box .error-message span {
    font-size: 1.125rem;
  }
}
@media (max-width: 520px) {
  .quiz .quiz-answers-box .error-message {
    margin-top: 0.75rem;
  }
  .quiz .quiz-answers-box .error-message img {
    width: 32px;
    height: 32px;
  }
}
.quiz .quiz-answers-box .error-message.visible {
  opacity: 1;
}
.quiz.hidden {
  display: none;
}
@media (max-width: 1160px) {
  .quiz {
    flex-direction: column;
    justify-content: center;
  }
}

.quiz-finished {
  display: flex;
  justify-content: space-between;
}
.quiz-finished .quiz-finished-text-box {
  max-width: 450px;
}
.quiz-finished .quiz-finished-score-wrapper .quiz-finished-text-box {
  max-width: 450px;
}
.quiz-finished .quiz-finished-score-wrapper .quiz-finished-score {
  min-width: 564px;
  padding: 3rem;
  background-color: #FFFFFF;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
.quiz-finished .quiz-finished-score-wrapper .quiz-finished-score .score-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.quiz-finished .quiz-finished-score-wrapper .quiz-finished-score .score-box .your-score {
  font-size: 9rem;
  font-weight: 500;
  line-height: 100%;
}
.quiz-finished .quiz-finished-score-wrapper .quiz-finished-score .score-box .total-score {
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 400;
  color: #626C7F;
}
@media (max-width: 780px) {
  .quiz-finished .quiz-finished-score-wrapper .quiz-finished-score {
    min-width: unset;
  }
}
@media (max-width: 520px) {
  .quiz-finished .quiz-finished-score-wrapper .quiz-finished-score {
    padding: 2rem;
    gap: 0.5rem;
  }
  .quiz-finished .quiz-finished-score-wrapper .quiz-finished-score .your-score {
    font-size: 5.5rem;
  }
  .quiz-finished .quiz-finished-score-wrapper .quiz-finished-score .total-score {
    font-size: 1.125rem;
    line-height: 100%;
  }
}
@media (max-width: 1160px) {
  .quiz-finished {
    flex-direction: column;
  }
  .quiz-finished .quiz-finished-text-box,
  .quiz-finished .quiz-finished-score-wrapper {
    width: 640px;
  }
}
@media (max-width: 780px) {
  .quiz-finished .quiz-finished-text-box,
  .quiz-finished .quiz-finished-score-wrapper {
    width: 100%;
  }
}
@media (max-width: 520px) {
  .quiz-finished .quiz-finished-text-box {
    max-width: 350px;
    margin-bottom: 1.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
