@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

body,
html {
    overflow-x: hidden;
}

body {
    background-color: $color-lights-secondary;
    background-image: url('../assets/images/pattern-background-desktop-light.svg');
    background-repeat: no-repeat;
    background-size: cover;

    font-family: $font-family-base;
    color: $color-base;

    &.dark {
        background-color: $color-base;
        background-image: url('../assets/images/pattern-background-desktop-dark.svg');


        @include dark-mode;

        @include tablet-styles {
            background-image: url('../assets/images/pattern-background-tablet-dark.svg');
        }

        @include mobile-l-styles {
            background-image: url('../assets/images/pattern-background-mobile-dark.svg');
        }
    }

    @include desktop-s-styles {
        padding-inline: 2.25rem;
    }

    @include tablet-styles {
        background-image: url('../assets/images/pattern-background-tablet-light.svg');
    }

    @include mobile-l-styles {
        background-image: url('../assets/images/pattern-background-mobile-light.svg');
    }
}

.main {
    margin: 0 auto;

    padding-block: 5.188rem;
    max-width: 72.5rem;
    display: flex;
    flex-direction: column;

    @include desktop-xs-styles {
        padding-top: 3.375rem;
    }

    @include mobile-l-styles {
        padding-top: 1.625rem;
        padding-bottom: 3rem;
    }
}

.hidden {
    display: none !important;
}