@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.intro-menu {
    display: flex;
    justify-content: space-between;

    .intro-menu__header-box {
        @extend %quizIntroAndQuizFinishedText;

        .pick-a-subject {
            @extend %italicText;
        }
    }

    .intro-menu__quiz-subjects-box {
        @extend %quizSubjectAndQuizAnswerBox;

        .quiz-subject {
            @extend %quizSubjectAndAnswer;

            .icon-box {
                @extend %iconBox
            }
        }
    }

    &.hidden {
        display: none;
    }

    @include desktop-xs-styles {
        flex-direction: column;
        justify-content: center;
    }
}