@use 'sass:math';

@function rem-calc($size) {
    @return (math.div($size, 16)) * 1rem;
}

// Font settings

$font-family-base: "Rubik", sans-serif;


// font weight 

$font-weight-regular: 400;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-light: 300;

// font size

$font-size-base: rem-calc(11);

$font-size-large: rem-calc(48);
$font-size-medium: rem-calc(32);
$font-size-medium-small: rem-calc(24);
$font-size-small: rem-calc(18);

$font-size-smaller: rem-calc(14);
$font-size-extra-small: rem-calc(12);

$font-size-smallest: rem-calc(9);

// headings size

$font-size-heading-display: rem-calc(144);
$font-size-heading-display-small: rem-calc(88);

$font-size-heading-larger: rem-calc(64);
$font-size-heading-large: rem-calc(36);
$font-size-heading-medium: rem-calc(34);
$font-size-heading-small: rem-calc(28);

$font-size-heading-mobile-large: rem-calc(40);
$font-size-heading-mobile-medium: rem-calc(20);
$font-size-heading-mobile-small: rem-calc(18);

// Color settings

$color-base: #313E51;

$color-darks-primary: #3B4D66;
$color-base-secodary: #626C7F;

$color-lights-primary: #FFFFFF;
$color-lights-secondary: #F4F6FA;
$color-lights-tertiary: #ABC1E1;

$color-primary: #A729F5;
$color-secondary: #26D782;
$color-tertiary: #EE5454;
$color-quaternary: #5E687A;


$color-primary-faded: #F6E7FF;
$color-secondary-faded: #E0FDEF;
$color-tertiary-faded: #FFF1E9;
$color-quaternary-faded: #EBF0FF;

// Box shadows 

$box-shadow-primary: 0px 16px 40px rgba(143, 160, 193, 0.14);
$box-shadow-secondary: 0px 16px 40px rgba(49, 62, 81, 0.14);

// Border radius

$border-radius-primary: 24px;
$border-radius-secondary: 12px;
$border-radius-tertiary: 8px;

// Size settings

$gutter-base: rem-calc(30);